

.filterable-product-table {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.search-bar-container {
 display: flex;
 flex-direction: column;
 text-align: start;
}

.search-bar-container > input {
  width: 60%;
}

.product-category-row {
  text-align: center;
}